@import "simplebar-react/dist/simplebar.min.css";

.simplebar-scrollbar:before {
  background-color: var(--palette-text-disabled);
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
}

html {
  height: 100%;
}
body,
#root {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
